@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.inter-font {
  font-family: var(--font-inter);
}

.montserrat-font {
  font-family: var(--font-montserrat);
}
